.general {
    padding-left: 20vw;
    padding-right: 20vw;
    margin-top: 72px;
}

.create-post, .post-list {
    border: 1px solid gray;
    border-top: none;
}

.create-post {
    padding-top: 10px;
}

.post-list {
    min-height: 100vh;
    /* Allow the div to grow if content overflows */
    overflow-y: auto;
    /* Adds scrolling if the content exceeds the height */
}
