.general {
    padding-left: 20vw;
    padding-right: 20vw;
}

.create-post, .post-list {
    border: 1px solid gray;
    border-top: none;
}

.create-post {
    padding-top: 10px;
}

.post-list {
    height: 100vh;
}
