.search-page {
    padding: 20px;
    padding-top: 40px;
    max-width: 600px;
    margin: auto;
    text-align: center;
}


.search-bar {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.search-bar input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
}

.search-bar button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.search-bar button:disabled {
    background-color: #6c757d;
    cursor: not-allowed;
}

.results {
    margin-top: 20px;
    text-align: left;
}

.result-item {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.error {
    color: red;
}

.pending-indicator {
  font-style: italic;
  font-size: 0.85rem;
  color: #87929c;
  margin-left: 8px;
}

.search-match {
    font-size: 1.5rem;
}

.match-fields {
    margin: 4px 0 0 30px;
    padding: 0;
    list-style-type: disc;
    color: rgb(255, 179, 38); 
    font-size: 0.9em;
}
